/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo img {
    width: 100px; 
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 12%;
    transform: translateX(-70%);
    z-index:12;
}
.nav li {
    margin-left: 20px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav a:hover {
    color: #007BFF;
}

/* Toggle button styles */
.nav-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Media queries */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        display: none;
        width: 100%;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
    }

    .nav li {
        margin: 10px 0;
    }

    .nav a {
        display: block;
        width: 100%;
        text-align: center;
    }

    .nav-toggle {
        display: block;
    }

    .nav.active {
        display: block;
    }
}
